<div class="dialog-wrapper">
  <div class="dialog-header">
    <h2>Add User</h2>
    <button mat-icon-button class="close-btn" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div mat-dialog-content>
    <form [formGroup]="userForm" class="user-form">
      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName" placeholder="Enter username">
        <mat-error *ngIf="userForm.get('userName')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
  
      <div class="row">
        <mat-form-field appearance="outline" class="form-field half-width">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="First Name">
          <mat-error *ngIf="userForm.get('firstName')?.hasError('required')">
            First Name is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field half-width">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Last Name">
          <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">
            Last Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="form-field half-width">
          <mat-label>Phone No</mat-label>
          <input matInput formControlName="phoneNo" placeholder="Phone No">
          <mat-error *ngIf="userForm.get('phoneNo')?.hasError('required')">
            Phone Number is required
          </mat-error>
          <mat-error *ngIf="userForm.get('phoneNo')?.hasError('pattern')">
            Invalid Phone Number
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field half-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="userForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="userForm.get('email')?.hasError('email')">
            Invalid Email
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  
  <div mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" matButton="filled">Save</button>
  </div>

</div>